services:
  - type: web
    name: skin-disease-detection
    runtime: python
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      pip install --upgrade pip setuptools wheel
      pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: MODEL_PATH
        value: /opt/render/project/src/backend/models/model.h5
      - key: FLASK_ENV
        value: production
